---
import type { ImageMetadata } from "astro";
import Image from "astro/components/Image.astro";

interface Props {
  imagePath: string;
  altText: string;
  title: string;
  author: string;
  tags?: string[];
}

const { imagePath, altText, title, author, tags = [] } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
if (!images[imagePath])
  throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<div class="bg-theme-card shadow-theme relative mx-auto max-w-[368px] rounded-xl px-4 pt-4 pb-5">
  <article aria-labelledby="article-title">
    <Image
      src={images[imagePath]()}
      alt={altText}
      class="max-w-full rounded-lg"
      loading={"eager"}
      format="webp"
    />
    {
      tags.length > 0 ? (
        <ul class="my-4 flex flex-wrap gap-2" aria-label="Article tags">
          {tags.map((tag) => (
            <li class="bg-theme-light-purple inline-block rounded-full px-3 py-1">
              <span class="text-theme-purple flex items-center text-[0.625rem] font-bold">
                {tag}
              </span>
            </li>
          ))}
        </ul>
      ) : (
        <div class="my-2" />
      )
    }

    <h1 id="article-title" class="text-theme-dark-blue mb-1.5 text-lg font-semibold">{title}</h1>
    <p class="text-theme-slate mb-4 text-sm"><slot /></p>
    <div
      class="border-theme-light-gray absolute bottom-13 left-0 w-full border-t"
      aria-hidden="true"
    >
    </div>
    <p class="text-theme-slate pt-5 text-xs">{author}</p>
  </article>
</div>
